<nav class="navbar is-transparent my-3 " role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo is-size-2 pl-1" href="/">
      <ion-icon name="bug" class="mr-3"></ion-icon>  The Tech Blog
    </a>

    <a role="button" class="navbar-burger mt-3" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if logged_in}}
            <a href="/dashboard" class="button dark">Dashboard</a>
            <a href="/logout" class="button is-dark is-outlined">Logout</a>
          {{else}}
            <a href="/login" class="button dark is-outlined">Login</a>
            <a href="/signup" class="button is-dark is-outlined">
              Sign up
            </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>