<h1>Your dashboard</h1>

{{#if blogPosts.length}}
    {{#each blogPosts}}
        <h2><a href="/blogposts/post/{{this.id}}">{{this.title}}</a></h2>
    {{/each}}
{{else}}
    <p>No posts yet</p>
{{/if}}

<button id="show-new-post-form">Add new post</button>

<form id="new-blogpost-form" style="display: none;">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="contents">Contents:</label>
        <textarea id="contents" name="contents"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>

<script src="/js/dashboard.js"></script>
