<form action="/login" method="POST" id="login-form" class="box">
  <h1 class="title is-3">Login</h1>
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input type="text" name="username" placeholder="Username" id="username" class="input">
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input type="password" name="password" placeholder="********" id="password" class="input">
    </div>
  </div>
  <p id="error-message" style="color: red;"></p>
  <button type="submit" class="button action">Log In</button>
  <a href="/signup" class="button is-text" >Sign up instead?</a>
</form>
<script src="/js/login.js"></script>