
<form action="/api/users/signup" method="POST" id="signup-form" class="box">
  <h1 class="title is-3">Sign Up</h1>
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input type="text" name="username" placeholder="Username" id="username" class="input">
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input type="password" name="password" placeholder="********" id="password" class="input" >
    </div>
  </div>

  <p id="error-message" style="color: red;"></p>
  <button type="submit" class="button action">Sign Up</button>
  <a class="button is-text" href="/login">Log in instead?</a>
</form>

<script src="/js/signup.js"></script>
