<h1>Sign Up</h1>
<form action="/api/users/signup" method="POST" id="signup-form">
  <input type="text" name="username" placeholder="Username" id="username">
  <input type="password" name="password" placeholder="Password" id="password">
  <button type="submit">Sign Up</button>
  <p id="error-message" style="color: red;"></p> <!-- Placeholder for error message -->
</form>
<p><a href="/login">Log in instead?</a></p>
<script src="/js/signup.js"></script>
