:root {
    --lightBgr: #e5e5e5;
    --midBgr: #f6f6f6;
    --darkerBgr: #d7d4d5;
    --greyText: #363636;
    --dark: #444;
    --white: #fff;
    --action: #fc5c65;
    --actionHover: #eb3b5a;
}
html {
    background: var(--lightBgr);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, var(--lightBgr), var(--darkerBgr));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--lightBgr), var(--darkerBgr)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
}
body {
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}
h1, h2, h3,
.content h1, .content h2, .content h3,
.title {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}
.container {
    padding-left: 32px;
    padding-right: 32px;
}
.modal-background {
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(6px);
}
/*-- Navbar --*/
.navbar-burger span {
    background-color: var(--white);
}
.navbar-menu.is-active {
    max-width: 300px;
    position: absolute;
    right: 0;
    border-radius: 6px;
}
.navbar-menu.is-active:after {
    background-color: var(--white);
    top: -69px;
    content: '';
    display: block;
    height: 10px;
    left: 86%;
    position: relative;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    z-index: 1;
}
.navbar-menu.is-active .button.is-light.is-outlined {
    border-color: var(--dark);
    color: var(--dark);
}
nav.navbar.is-transparent {
    background-color: transparent;
}
@media screen and (max-width: 480px) {
    .navbar-item.logo {
        font-size: 1.5rem !important;
    }
    .navbar-burger.mt-3 {
        margin-top: 0.1rem !important;
    }
}
/*-- Logo --*/
a.logo {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: var(--dark)
}
a.logo:hover {
    color: var(--dark)
}
/*-- Breadcrumb --*/
.breadcrumb a {
    color: var(--dark);
}
.breadcrumb ul {
    align-items: center;
}

/*-- Content --*/
.card,
.box {
    color: var(--white);
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 300;
}
.card .box {
    box-shadow: none;
    background-color: var(--midBgr);
    border-radius: 30px;
    padding: 10px 10px 10px 15px;
    margin-bottom: 10px;
}
.card .box .title {
    font-weight: 300;
}
.card .box .tag {
    background-color: var(--lightBgr);
    color: var(--dark);
}
.card p,
.box p,  
.card .title,
.box .title,
.card .subtitle,
.box .subtitle,
.card .tag,
.box .tag,
.label,
.title,
.input,
.textarea {
    color: var(--dark);
}
label.label {
    font-weight: 500;
}
.textarea,
.input,
#new-blogpost-form input,
#new-blogpost-form .input,
#new-blogpost-form textarea,
#new-blogpost-form .textarea {
    background-color: var(--midBgr);
    border: 0;
}
.card .tag,
.box .tag {
    background-color: var(--midBgr);
    color: var(--greyText);
    font-weight: 400;
    border-radius: 15px;
}
.modal-content .box {
    background-color: var(--white);
}
.content .title,
.box .wrapper {
    display: flex;
    justify-content: space-between;
}
.box .title.is-5 {
    margin-bottom: 0;
}
.border-above {
    border-top: 1px solid var(--lightBgr);
}
.content a {
    display: block;
}
.navbar-item img {
    width: 200px;
    height: auto;
    max-height: initial;
}
#error-message {
    margin-bottom: 20px;
}
::-webkit-input-placeholder {
    color: var(--greyText) !important;
    opacity: .5;
}
::-moz-placeholder {
    color:var(--greyText) !important;
    opacity: .5;
}
::-ms-placeholder {
    color:var(--greyText) !important;
    opacity: .5;
}
::placeholder {
    color:var(--greyText) !important;
    opacity: .5;
}
/*-- Buttons --*/
button,
.button {
  transition: 0.2s;
  border-radius: 30px;
  font-weight: 500;
}
button.action,
.button.action,
button.action:hover,
.button.action:hover,
button.dark,
.button.dark,
button.dark:hover,
.button.dark:hover,
button.secondary,
.button.secondary,
button.secondary:hover,
.button.secondary:hover {
    color: var(--white);
    border-color: transparent;
}
button.action,
.button.action {
    background-color: var(--action);
}
button.action:hover,
.button.action:hover {
    background-color: var(--actionHover);
}
button.action:hover,
.button.action:hover {
    background-color: var(--actionHover);
}
button.action.is-outlined,
.button.action.is-outlined {
    background-color: transparent;
    border-color: var(--action);
}
button.action.is-outlined:hover,
.button.action.is-outlined:hover {
    background-color: var(--action);
    border-color: var(--action);
}
button.secondary,
.button.secondary {
    background-color: var(--lightBgr);
}
button.dark,
.button.dark {
    background-color: var(--dark);
}
.button.is-dark.is-outlined {
    border-color: var(--dark);
    color: var(--dark)
}
.button.is-dark.is-outlined:hover {
    border-color: transparent;
    background-color: var(--dark);
    color: var(--white)
}
.button.is-text.has-text-grey-light:hover {
    background-color: transparent;
    border: 1px solid var(--white);
}
ion-icon {
    pointer-events: none;
}
button.button.is-dark.is-outlined {
    padding-left: 11px;
    padding-right: 11px;
}
.js-modal-trigger ion-icon {
    margin-left: -5px;
}